<footer class="bg-dark text-white pt-5 pb-4">
    <div class="container text-center text-md-start">
        <div class="row text-center text-md-start">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 fw-bold text-primary">IT Solutions</h5>
                <p class="small text-muted">
                    Transformamos tus ideas en soluciones tecnológicas escalables. Especialistas en desarrollo web y gestión de datos.
                </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 fw-bold text-white">Enlaces</h5>
                <p><a href="#" class="text-muted text-decoration-none small">Inicio</a></p>
                <p><a href="#servicios" class="text-muted text-decoration-none small">Servicios</a></p>
                <p><a href="#" class="text-muted text-decoration-none small">Proyectos</a></p>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 fw-bold text-white">Contacto</h5>
                <p class="small text-muted"><i class="bi bi-geo-alt-fill me-2"></i> Managua, Nicaragua</p>
                <p class="small text-muted"><i class="bi bi-envelope-fill me-2"></i> info@itsolutions.com</p>
                <p class="small text-muted"><i class="bi bi-telephone-fill me-2"></i> +505 8888-8888</p>
            </div>
        </div>

        <hr class="mb-4 mt-5">

        <div class="row align-items-center">
            <div class="col-md-7 col-lg-8">
                <p class="small text-muted text-center text-md-start">
                    © 2026 Todos los derechos reservados: <strong class="text-primary">IT Solutions</strong>
                </p>
            </div>
            <div class="col-md-5 col-lg-4">
               <div class="text-center text-md-end">
                    <ul class="list-unstyled d-inline-flex align-items-center mb-0">
                        <li class="px-2">
                            <a href="https://wa.me/50588888888" class="text-white fs-5" target="_blank">
                                <i class="bi bi-whatsapp custom-social-icon"></i>
                            </a>
                        </li>
                        <li class="px-2">
                            <a href="#" class="text-white fs-5">
                                <i class="bi bi-facebook custom-social-icon"></i>
                            </a>
                        </li>
                        <li class="px-2">
                            <a href="#" class="text-white fs-5">
                                <i class="bi bi-linkedin custom-social-icon"></i>
                            </a>
                        </li>
                        <li class="px-2">
                            <a href="#" class="text-white fs-5">
                                <i class="bi bi-instagram custom-social-icon"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>